{% extends 'auction/base.html' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />  
    
 <section class="page-section portfolio" id="portfolio" style="margin-top: 100px">
            <!-- 경매등록 Section Heading-->
            <div class="container">
                <!-- 경매등록 Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary mb-0 d-inline-block">MY PAGE </h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- 경매 Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Items-->
                    <div class="font-weight-bold">
                        <table>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <table width="450px" height="250px" style="text-align:left; margin:auto;">
                                    <tr>
                                        <td>아이디</td>
                                        <td><input type="text" value= {{user.username}} disabled> </td>
                                    </tr>
                                    <tr>
                                        <td>이메일</td>
                                        <td><input name="email" type="text" value= {{user.email}}></td>
                                    </tr>
                                    <tr>
                                        <td>크래딧</td>
                                        <td><a href="{% url 'auction_credit' %}"><input type="text" value= {{credit}} disabled><button type="button"  class="btn btn-success float-right">충전하기</button></a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td ><button id="submit" type="submit" class="save btn btn-info float-right" >변경사항 저장</button></td>
                                    </tr>
                                    
                                </table>
                            </form>
                        </table>
                    </div>

                </div>
            </div> <!-- container  End -->
            <script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- toastr js 라이브러리 -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $("#submit").on("click", function(){
        toastr.info('변경사항이 저장되었습니다', {timeOut: 3000});
        });
    </script>
 </section>


{% endblock %}