#nav_category {
    padding: 0;
    margin-top: 79px;
}
#nav_category ul {
    margin-right: 30px;
}
.category_btn {
    color: white;
    background-color: transparent;
    border: none;
    width: 190px;
    padding: 0;
}
.category_btn:focus{
    outline: none;
}
.category_btn{
    font-size: 19px;
}

/*.category_btn.selected{*/
/*    color: #117964;*/
/*    font-weight: bold;*/
/*}*/

#category_list > li.active > a{
    color: #117964;
    font-weight: bold;
}
